In [189]:
import importlib
import subprocess

import Advanced_SQL as asql
import duckdb
import SQL as sql

_ = importlib.reload(asql)
_ = importlib.reload(sql)

Use this cell to test any sql queries. This can be done in one of the following ways:

1. Fill in the `qry` within the """ """.
2. Call the question functions that you have already filled in from the SQL.py and Advanced_SQL.py files. An example of question_1 being called from the SQL.py file is currently commented out.

This cell can be copied if you wish to run multiple queries.

In [210]:
#qry = """SELECT c.CustomerID, c.Region, l.ApprovalStatus FROM customers c JOIN loans l ON l.CustomerID = c.CustomerID"""
#Select cr.CustomerClass, AVG(cd.Income) as AverageIncome FROM credit cr JOIN customers cd ON cr.CustomerID = cd.CustomerID GROUP BY cr.CustomerClass 

qry = """
Select * from timeline

"""


#qry ="""Select cr.CustomerClass, AVG(cd.Income) as AverageIncome FROM (SELECT Distinct(CustomerID), CustomerClass FROM credit) cr JOIN customers cd ON cr.CustomerID = cd.CustomerID GROUP BY cr.CustomerClass """
qry = asql.question_6()
#qry = sql.question_2()
#qry = asql.question_3()
#qry = asql.question_4()
#qry = asql.question_6()


with duckdb.connect("database/loan.db") as cursor:
    result_set = cursor.execute(qry).df()

result_set

      CustomerID  Age  CorrectedAge  Gender
0              1   24             0  Female
1              2   34             0  Female
2              3   48            24  Female
3              4   34            34  Female
4              5   67            48  Female
...          ...  ...           ...     ...
1009         990   34            67    Male
1010         991   66            57    Male
1011         993   44            34    Male
1012         994   39            66    Male
1013        1000   51            44    Male

[1014 rows x 4 columns]

Should you break/incorrectly update any database tables, the database can be reset by running the following cell

In [202]:
load_script_path = "database/database_load.py"
subprocess.run(["python3", load_script_path])

CompletedProcess(args=['python3', 'database/database_load.py'], returncode=0)